<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>23</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows10.0.19041.0\app.publish\</PublishDir>
    <PublishUrl>\\fs-nova\Distr\0.For Admin\_TNov\actual\desktop\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(нет)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\fs-nova\Distr\0.For Admin\_TNov\actual\desktop\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2026-09-15T10:22:35.1117671Z||;True|2026-09-14T09:40:02.6312763+05:00||;True|2026-09-07T15:25:54.2437259+05:00||;True|2026-09-07T15:24:58.3656516+05:00||;True|2026-08-24T17:20:35.1104066+05:00||;True|2026-08-20T17:08:41.0749855+05:00||;True|2026-06-30T12:05:31.8995800+05:00||;True|2026-06-25T16:30:42.1035330+05:00||;True|2026-05-29T12:02:52.6562796+05:00||;True|2026-05-26T15:12:06.9292385+05:00||;True|2026-05-13T12:56:42.1313788+05:00||;True|2026-04-28T14:11:47.9297857+05:00||;True|2026-04-28T10:27:11.0015113+05:00||;True|2026-04-24T15:17:37.0223608+05:00||;True|2026-04-24T14:52:26.6179246+05:00||;True|2026-04-24T11:32:08.3782350+05:00||;True|2026-04-24T08:36:03.5193592+05:00||;True|2026-04-23T20:42:06.1516412+05:00||;True|2026-04-23T20:41:02.6330590+05:00||;True|2026-04-23T15:15:44.1898058+05:00||;True|2026-04-23T15:15:05.9714775+05:00||;True|2026-04-23T15:04:35.4040185+05:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>Среда выполнения .NET для классических приложений 8.0.24 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>